.capa {
    width: 100%;
    height: 500px; 
    background-size: cover; 
    background-repeat: no-repeat;
}

@media (max-width: 1366px){
    .capa {height: 440px;
    }
}

@media (max-width: 980px) {
    .capa {
        height: 260px;
    }
}

@media (max-width: 480px) {
    .capa {
        height: 130px;
    }
}